.modal {
  border-radius: 6px;
  background-color: whitesmoke;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  width: 40rem;
  z-index: 50;
  position: fixed;
  top: 20vh;
  left: calc(50% - 20rem);
  transition: all 0.3s ease-out;
}
